    <!-- About Section -->
    <section id="about" class="container content-section text-justify">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/>
                I am a skilled Software Developer with 10 years of IT experience in design, development and implementation of Applications
                using Java and C/C++. I have a Bachelor and a Master of Science in Computer Science from the University of Brasília (Brazil).
               <br/> <br/>                
                I am passionate about programming and that is why I am always experimenting with new 
                technologies and techniques.
                <br/> <br/>                
                I have experiences:
                <ul>
                    <li> In design and development of web-based applications using Java, JDBC, SQL, Servlets, JSP, JSTL, JPA,
                    Spring Framework, Spring Boot and Quarkus. </li>
                    <li> In client Tecnologies such as HTML/HTML5, CSS/CSS3, Bootstrap, JavaScript, TypeScript, Thymeleaf, JSON, Angular. </li>
                    <li> With the ORM tool Hibernate involving Connection pooling, Mappings, Transaction Management, HQL(Hibernate Query Language).</li>
                    <li> In implementing REST API, HTTP API.</li>
                    <li> With databases like MySQL, PostgreSQL and Oracle.</li>
                    <li> With using Tomcat, Maven, Postman, Junit 5, Rest-assured, Git, Eclipse, IntelliJ, Visual Studio Code, Docker and Kubernetes.</li>
                </ul>           
     
                <br/>
                In my free time, besides studying Java web development and data science, I like to solve problems on the <a href="https://app.codesignal.com/profile/patrick_k15">codesignal website</a>,
                and play football and video games.
                <br/> <br/>        
                
                Below, some projects that I am developing.
                <br/>
              </div>
        </div>
    </section>
